* {
    font-family: Helvetica;
    color: #fff;
}

body {
    background: #444444;
    height: 100vh;
}

.square {
    width: 70vw;
    height: 620px;
    background: #212121;
    border-radius: 35px;
    box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;

    .phone {
        width: 240px;
        height: 500px;
        background: #212121;
        border-radius: 30px;
        margin: 15px;
        display: flex;
        flex-direction: column;
        box-shadow: 4px 3px 10px 10px rgba(0, 0, 0, 0.1),
                    4px 3px 10px 10px rgba(0, 0, 0, 0.2);
    }
}



.header {
    height: 30px;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .menu-btn {
        width: 28px;
        height: 28px;
        background: #212121;
        border-radius: 7px;
        display: flex;
        justify-self: center;
        cursor: pointer;

        img {
            width: 14px;
            height: 16px;
            filter: invert(1);
            margin-left: 6px;
            margin-top: 6px;
            cursor: pointer;
        }
    
    }

    img {
        width: 15px;
        filter: invert(1);
        cursor: pointer;
    }
}



.airpods1 {
    width: 230px;
    display: block;
    margin: 40px auto;
}

.info-box {
    width: 190px;
    margin: -25px auto;

    .name-price {
        display: flex;
        justify-content: space-between;
        h2 {
            font-size: 15px;
        }
    }

    p {
        font-size: 10px;
    }
}

.cart-color {
    width: 190px;
    display: flex;
    margin: 55px auto;
    justify-content: space-between;

    input[type = "submit"] {
        width: 100px;
        height: 30px;
        background: #147ce5;
        border-radius: 20px;
        border: none;
        outline: none;
        cursor: pointer;
    }

    .colors {
        width: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        button {
            width: 18px;
            height: 18px;
            border-radius: 50px;
            outline: none;
            cursor: pointer;

        }

        button:focus {
            width: 22px;
            height: 22px;
        }


        .white {
            background: rgb(252, 252, 252);
        }

        .black {
            background: rgb(0, 0, 0);
        }

        .red {
            background: rgb(107, 34, 34);
        }
    }
}


h1 {
    text-align: center;
}

.product-tabs {
    width: 190px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    a {
        font-size: 10px;
        color: #757575;
        text-decoration: none;
    }

    a:active {
        color: #fff;
    }

}

.product-cards {
    width: 210px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 100px 100px;
    grid-row: auto auto;
    grid-column-gap: 12px;
    grid-row-gap: 12px;


    .card {
        width: 100px;
        height: 150px;
        background: #212121;
        border-radius: 20px;
        box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.1),
                    0px 1px 5px 1px rgba(0, 0, 0, 0.15);
        display: flex;
        flex-direction: column;
        align-items: center;

        h3 {
            font-size: 12px;
        }

    }

    .iphone {
        width: 95px;
        margin-top: -10px;
    }

    .watch {
        width: 115px;
        margin-top: -18px;
    }

    .airpods2 {
        width: 100px;
        margin-top: 12px;
    }

    .ipad {
        width: 69px;
    }

}

.square {
    display: flex;
    flex-direction: row-reverse;
  }
  
  .phone {
    height: auto;
  }

  @media screen and (max-width: 650px) {
      .square {
          display: flex;
          flex-direction: column-reverse;
          height: 150vh;
          margin-top: 180px;
      }
  }